@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Merriweather:wght@300&family=Oswald:wght@200&family=Poppins:ital,wght@1,200&family=Roboto+Slab:wght@300&display=swap');

.body {
	color: #FFFAFA;
}

.h1 {
	font-family: 'Oswald', sans-serif;
	color: #2A00D7;
}

#slogan {
	font-style: italic;
}