@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap);

body {
	color: #7A3559;
	font-size: 16px;
	margin: 10px;
}

div {
	background-color: #FFE2B8;
}

header {
	background-color: #FFED74;
	padding: 20px;
	border: 1px black solid;
	width: 100%;
}

h1 {
	font-family: "Roboto Slab", sans-serif;
	color: #2A00D7;
}

#slogan {
	font-style: italic;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	width: 100%;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	width: 100%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
	width: 100%;
}

#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right{
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	width: 100%;
}

@media only screen and (max-width: 800px) {
	nav {
		float: none;
	}

	img {
		width: 320px;
	}
}

@media only screen and (max-width: 480px) {
	nav {
		display: block;
		text-align: center;
		margin: 0 1em 1em;
	}

	img {
	width: 230px;
	}

	section {
		width: 100%;
		padding: .6em;
	}

	p, ul {
		margin: 1.8em .6em 0;
	}

	li, blockquote {
		width: 80%
		padding: .5em;
		height: 2em;
		line-height: 2em;
	}
}

